<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#snap"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy Start And Managed Updates</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum ratione
      doloribus eum! At autem voluptatum optio corporis assumenda blanditiis
      distinctio odio ut nisi exercitationem nesciunt tenetur, aspernatur
      placeat totam accusantium quibusdam. Aliquam quam blanditiis, at numquam
      laboriosam a dignissimos omnis eum, id, praesentium harum minima. Quas
      ipsum deleniti inventore suscipit!
    </p>
  </div>
</div>
